<div class="mg-top container-fluid">
  <div class="justify-content-center mb-3 text-black ">
    <p class="text-center fs-3 font-color"><strong>Gói dịch vụ</strong></p>
  </div>

  <div class="row justify-content-end mb-3">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="input-group">
        <input type="text" class="form-control rounded-pill mg-right" placeholder="Tìm kiếm dịch vụ"
               id="groups-search"
        >
        <button class="btn btn-1977cc rounded-pill mg-right fs-small">Tìm kiếm</button>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="https://via.placeholder.com/300x200" alt="Product Image" class="img-fluid rounded-start">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title font-color"><strong>Product Title</strong></h5>
              <p class="card-text">Product description goes here.</p>
              <p class="card-text"><small class="text-muted"><strong>$19.99</strong></small></p>
              <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-1977cc me-2" aria-label="Add to cart">
                  <i class="bi bi-cart"></i>
                </button>
                <button type="button" class="btn btn-outline-primary"><i class="bi bi-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>

</div>
