.mg-top{
  margin-top: 10rem;
}

.mg-right{
  margin-right: 0.5rem;
}

.fs-small{
  font-size: 15px;
}

.btn-1977cc{
  background-color: #1977cc;
  color: #f0f0f0;
}

.bg{
  background-color: #1977cc;
}

.font-color{
  color: #2c4964;
}
