<div class="mg-top">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <div class="pd-wrap">
    <div class="container">
      <div class="heading-section mg-top--2">
        <h3>Chi tiết dịch vụ</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="item">
            <img class="w-h"
                 [src]="services?.img"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="product-dtl">
            <div class="product-info">
              <div class="product-name font-color">{{services?.name}}</div>
              <div class="reviews-counter mg-top-4">
                <div class="rate">
                  <input type="radio" name="rate" value="5" checked/>
                  <label title="text">5 stars</label>
                  <input type="radio" name="rate" value="4"/>
                  <label title="text">4 stars</label>
                  <input type="radio" name="rate" value="3"/>
                  <label title="text">3 stars</label>
                  <input type="radio" name="rate" value="2"/>
                  <label title="text">2 stars</label>
                  <input type="radio" name="rate" value="1"/>
                  <label title="text">1 star</label>
                </div>
                <span>10 Đánh giá</span>
              </div>
              <div class="product-price-discount"><span>{{services?.prices | vndCurrency}}</span></div>
              <div *ngIf="customer" class="product-price-discount"><span>Số lượng còn lại: {{services?.quantity}}</span>
              </div>
            </div>
            <p>{{services?.details}}</p>
            <div class="row">
            </div>
            <div class="product-count" *ngIf="customer">
              <label>Số lượng</label>
              <div class="display-flex mg-top-4">
                <button class="btn btn-outline-secondary" [disabled]="quantity === 1" type="button"
                        (click)="decreaseQuantity()">-
                </button>
                <input style="border: none;box-shadow: none;" type="text" [(ngModel)]="quantity" class="qty">
                <button class="btn btn-outline-secondary" [disabled]="quantity === services?.quantity" type="button"
                        (click)="increaseQuantity()">+
                </button>
              </div>
              <div class="d-flex - justify-content-center mg-top-4">
                <button (click)="addToCart()" *ngIf="customer"
                        class="appointment-btn scrollto text-decoration-none border-0">Thêm vào giỏ hàng
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-info-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
               aria-controls="description" aria-selected="true">Mô tả dịch vụ</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <strong> Đối tượng áp dụng: </strong> {{services?.applicableObject}}. <br>
            <strong>Thời gian khám: </strong> {{services?.time}} ngày. <br>
            <strong>Thời gian sử dụng: </strong> {{services?.timeUse}}<br>
            <strong>Ngày phát hành: </strong> {{services?.date}}.<br>
            <strong>Điều kiện sử dụng: </strong> <br>
            1. Không áp dụng cho các ngày Lễ: Khách hàng liên hệ với hotline VMT Healthy Care để biết thông tin chi
            tiết. <br>
            2. Khách hàng liên hệ đặt chỗ trước khi đến để được phục vụ tốt nhất. <br>
            3. Không áp dụng cho các chương trình khuyến mãi khác. <br>
            4. Số lượng áp dụng: 01 gói/01 lần sử dụng/01 người. <br>
            5. Phụ thu: KH sử dụng thêm các dịch vụ khác thanh toán tiền theo bảng giá niêm yết tại Bệnh viện. <br>
            6. Thêm (đặc biệt): VMT Healthy Care không hoàn lại hoặc chuyển đổi một phần dịch vụ trong gói nếu KH không
            đủ điều kiện sử dụng theo chỉ định của bác sĩ. <br>
            <strong>Thông tin chi tiết {{services?.name}}. </strong> <br>
            {{services?.name}} mang lại giải pháp thăm khám toàn diện và sàng lọc một số bệnh lý ung thư như dạ dày, đại
            tràng ... với các bác sĩ, chuyên gia cao cấp tại VMT Healthy Care, từ đó có hướng xây dựng kế hoạch chăm sóc sức khoẻ.
            <br>
            - Gói khám với các dịch vụ kiểm tra sức khỏe toàn diện của khách hàng: từ thăm khám lâm sàng và cận lâm sàng
            nhằm phát hiện các yếu tố nguy cơ gây bệnh từ đó điều chỉnh, thay đổi nhằm nâng cao sức khỏe và dự phòng
            không để xảy ra bệnh. <br>
            - Khách hàng được phát hiện có bệnh lý liên quan đến thói quen sinh hoạt, lối sống như bệnh tim mạch, nội
            tiết
            chuyển hóa ( tăng mỡ máu, đái tháo đường, tăng acid uric), bệnh lý gan mật, phổi, tuyến giáp, loãng xương,
            các vi chất, điện giải đồ, chuyển hóa sắt, đánh giá tình trạng nhiễm virus viêm gan A, B, C. <br>
            - Gói khám có một số xét nghiệm dấu ấn ung thư qua đường máu để kiểm tra ung thư gan, tiền liệt tuyến với
            nam. <br>
            - Khám phụ khoa với bác sĩ chuyên khoa và sàng lọc ung thư cổ tử cung, ung thư vú, ung thư buồng trứng với
            nữ. <br>
            - Khách hàng được khám chuyên khoa tiêu hóa, nội soi dạ dày - đại trực tràng nhằm chẩn đoán các bệnh lý dạ
            dày
            đại trực tràng và sàng lọc ung thư sớm tại dạ dày - đại trực tràng. <br>
            - Gói khám không áp dụng với mục đích khám phân loại sức khỏe theo quy định của BYT, khám giám định y khoa,
            khám để cấp giấy chứng thương, khám bệnh nghề nghiệp, khám work permit. <br>
            <div class="d-flex justify-content-center">
              <img src="https://vinmec-prod.s3.amazonaws.com/images/20210826_095327_816487_SKTQ_TC_1-01.max-1800x1800.jpg">
            </div>
            <div class="d-flex justify-content-center">
              <img src="https://vinmec-prod.s3.amazonaws.com/images/20210826_104420_866222_SKTQ_NC_2-01.max-1800x1800.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</div>
