<div class="mg bg">
  <div class="container" [ngClass]="{'right-panel-active': isSignUpActive}">
    <div class="form-container sign-up-container">
<!--      <form action="#">-->
<!--        <h1>Đăng ký tài khoản</h1>-->
<!--        <div class="social-container">-->
<!--          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--        </div>-->
<!--        <span>Hoặc sử dụng email của bạn để đăng ký</span>-->
<!--        <input type="text" placeholder="Họ và tên *"/>-->
<!--        <input type="email" placeholder="Email *"/>-->
<!--        <input type="password" placeholder="Mật khẩu *"/>-->
<!--        <button (click)="signUp()">Đăng ký</button>-->
<!--      </form>-->
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <h1>Đăng nhập</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>hoặc sử dụng tài khoản bạn đã đăng kí</span>
        <input autofocus type="text" id="inputEmail"
                placeholder="Email" formControlName="username"/>
        <input type="password" id="inputPassword"
               placeholder="Mật khẩu" formControlName="password"/>
        <a href="#">Bạn quên mật khẩu?</a>
        <button type="submit">Đăng nhập</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>VMT Xin chào quý khách!</h1>
          <p>Để kết nối với VMT quý khách vui lòng đăng nhập!</p>
          <button class="ghost" (click)="signIn()">Đăng nhập</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>VMT Xin chào quý khách!</h1>
          <p>Quý khách vui lòng đăng ký tài khoản nếu chưa có tài khoản!</p>
          <button class="ghost" (click)="signUp()">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
</div>
