<!-- ======= Bắt đầu Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>CHÀO MỪNG ĐẾN VỚI VMT</h1>
    <h2>Chăm sóc sức khỏe tại VMT - Nâng tầm cuộc sống khỏe mạnh!</h2>
    <a href="#about" class="btn-get-started scrollto text-decoration-none">Bắt đầu</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Tại sao chọn VMT? Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Tại sao chọn VMT?</h3>
            <p>
              Đầu tiên, VMT có đội ngũ chuyên gia y tế có trình độ cao và kinh nghiệm trong lĩnh vực chăm sóc sức khỏe.
              Thứ hai, VMT sử dụng công nghệ hiện đại và phương pháp điều trị tiên tiến để đảm bảo chất lượng dịch vụ
              tốt nhất cho khách hàng. Thứ ba, VMT cam kết đem lại sự thoải mái và an tâm cho khách hàng trong quá trình
              điều trị. Cuối cùng, VMT luôn tôn trọng và lắng nghe ý kiến của khách hàng để nâng cao chất lượng dịch vụ.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn text-decoration-none">Xem thêm<i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Hãy tận hưởng niềm vui từ sức khỏe của cơ thể</h4>
                  <p>Để cơ thể được sảng khoái và khỏe mạnh, bạn nên thường xuyên tập luyện thể dục và ăn uống lành
                    mạnh.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Đem lại sự và an tâm cho khách hàng trong quá trình điều trị</h4>
                  <p>Việc đảm bảo an toàn và hiệu quả trong quá trình điều trị sẽ đem lại sự yên tâm và an tâm cho khách
                    hàng của chúng tôi.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Luôn tôn trọng và lắng nghe ý kiến của khách hàng</h4>
                  <p>Chúng tôi luôn tôn trọng và lắng nghe ý kiến của khách hàng để cải thiện chất lượng dịch vụ và đáp
                    ứng nhu cầu của họ tốt hơn.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Chúng tôi Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
        </div>

        <div
          class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>Đội ngũ chuyên gia</h3>
          <p>VMT quy tụ đội ngũ chuyên gia, bác sĩ, dược sĩ và điều dưỡng được đào tạo bài bản đến chuyên sâu tại
            Việt nam và nhiều nước có nên y học phát triển như Mỹ, Anh, Pháp...</p>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a class="text-decoration-none" href="">Giấc mơ đằng sau tên gọi</a></h4>
            <p class="description">Sự hoàn mỹ là ngôi sao Bắc Đẩu định hướng mọi việc chúng tôi làm tại các bệnh viện và
              phòng khám.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a class="text-decoration-none" href="">Sứ mệnh của chúng tôi</a></h4>
            <p class="description">Sứ mệnh của chúng tôi là nâng cao sức khỏe và đời sống của người dân Việt Nam, thông
              qua một hệ thống bao gồm các cơ sở chăm sóc sức khỏe tại các thành phố lớn với phương châm sáng tạo, tích
              hợp và lấy bệnh nhân làm trung tâm.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a class="text-decoration-none" href="">Tầm nhìn của chúng tôi</a></h4>
            <p class="description">Trở thành đơn vị dẫn đầu toàn quốc về lĩnh vực chăm sóc sức khỏe và là thương hiệu
              chăm sóc sức khỏe đáng tin cậy nhất ở Việt Nam.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Thành tích Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fas fa-user-md"></i>
            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1.5"
                  class="purecounter">85</span>
            <p>Bác sĩ</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="far fa-hospital"></i>
            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
                  class="purecounter">10</span>
            <p>Khoa trọng điểm</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                  class="purecounter">16</span>
            <p>Phòng nghiên cứu</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                  class="purecounter">150</span>
            <p>Giải thưởng</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Dịch vụ Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Dịch vụ</h2>
        <p>VMT Healthy Care Systems cung cấp đa dạng dịch vụ khám chữa bệnh với các chuyên khoa như Nội khoa, Ngoại
          khoa, Tiêu hóa, Tim mạch, Thần kinh và các bệnh mãn tính khác. Khách hàng sẽ được tiếp đón và tư vấn bởi đội
          ngũ y bác sĩ chuyên môn, đầy tâm huyết và kinh nghiệm.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a class="text-decoration-none" href="">Gói khám sức khỏe tổng quát VIP</a></h4>
            <p>Khám sức khỏe tổng quát gói VIP là chương trình khám bệnh toàn diện các bộ phận trên cơ thể từ: Mắt, tai,
              mũi, họng, điện tâm đồ, X - quang tim phổi, siêu âm bụng...</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a class="text-decoration-none" href="">Gói khám sức khỏe tổng quát Nâng cao</a></h4>
            <p>Gói khám sức khỏe tổng quát được thiết kế có tính khoa học và tính thực tiễn nhằm phát hiện sớm, can
              thiệp, điều trị kịp thời nhằm làm giảm đến mức tối thiểu những biến chứng của những bệnh hiểm nghèo đe dọa
              cuộc sống của bạn.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a class="text-decoration-none" href="">Gói khám sức khỏe tổng quát Tiêu chuẩn Nữ</a></h4>
            <p>Gói khám sức khỏe tổng quát Tiêu chuẩn Nữ < 40 tuổi được thực hiện bởi các bác sĩ chuyên môn giỏi, trình
              độ cao, giúp đánh giá chính xác về tình trạng sức khỏe chung đồng thời phát hiện sớm một số bệnh lý nguy
              hiểm</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4><a class="text-decoration-none" href="">Gói khám sức khỏe tổng quát Tiêu chuẩn Nam</a></h4>
            <p>Gói khám sức khoẻ tổng quát Tiêu chuẩn được thực hiện bởi các bác sĩ chuyên môn giỏi, trình độ cao, giúp
              đánh giá chính xác về tình trạng sức khỏe chung đồng thời phát hiện sớm một số bệnh lý nguy hiểm</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4><a class="text-decoration-none" href="">
              Gói khám sức khỏe tổng quát Toàn diện</a></h4>
            <p>Gói khám sức khỏe tổng quát Toàn diện của Bệnh viện Đa khoa Quốc tế VMT được thiết kế có tính khoa
              học, tính thực tiễn cao, hoàn toàn khác với việc thực hiện kiểm tra sức khỏe thông thường.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4><a class="text-decoration-none" href="">Gói khám sức khỏe tổng quát Trẻ em</a></h4>
            <p>Với gói khám sức khoẻ tổng quát trẻ em, bé yêu của bạn sẽ được khám toàn diện kết hợp với chẩn đoán bằng
              hình ảnh, giúp bạn kiểm tra tổng thể sức khỏe cho bé, sàng lọc triệu chứng để sớm phát hiện và điều trị
              nếu cần.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

<!--  &lt;!&ndash; ======= Đặt lịch khám Section ======= &ndash;&gt;-->
<!--  <section id="appointment" class="appointment section-bg" *ngIf="role == 'ROLE_USER' || role == 'ROLE_ADMIN' ">-->
<!--    <div class="container">-->

<!--      <div class="section-title">-->
<!--        <h2>Đặt lịch khám</h2>-->
<!--        <p>Liên hệ với chúng tôi-->
<!--          Vui lòng điền thông tin vào biểu mẫu bên dưới nếu bạn muốn đặt lịch khám. Ngoài ra, nếu bạn có câu hỏi chung,-->
<!--          vui lòng liên hệ với chúng tôi tại đây.</p>-->
<!--      </div>-->

<!--      <form class="php-email-form">-->
<!--        <div class="row">-->
<!--          <div class="col-md-4 form-group">-->
<!--            <input type="text" name="name" class="form-control" placeholder="Họ và tên *" data-rule="minlen:4"-->
<!--                   data-msg="Please enter at least 4 chars">-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--          <div class="col-md-4 form-group mt-3 mt-md-0">-->
<!--            <input type="email" class="form-control" name="email" placeholder="Email" data-rule="email"-->
<!--                   data-msg="Please enter a valid email">-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--          <div class="col-md-4 form-group mt-3 mt-md-0">-->
<!--            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Số điện thoại * "-->
<!--                   data-rule="minlen:4"-->
<!--                   data-msg="Please enter at least 4 chars">-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-4 form-group mt-3">-->
<!--            <input type="text" class="form-control datepicker" id="date" placeholder="Chọn ngày hẹn *">-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--          <div class="col-md-4 form-group mt-3">-->
<!--            <select name="department" id="department" class="form-select" [(ngModel)]="selectedDepartmentsId" (change)="logId()">-->
<!--              <option value="0" disabled>Chọn một chuyên khoa (nếu bạn biết thông tin này)</option>-->
<!--              <option [ngValue]="department.id" *ngFor="let department of departments">{{department.name}}</option>-->
<!--            </select>-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--          <div class="col-md-4 form-group mt-3">-->
<!--            <select name="doctor" id="doctor" class="form-select" [(ngModel)]="selectedDoctorId" (change)="logId()">-->
<!--              <option value="0" disabled="true">Chọn bác sĩ muốn khám</option>-->
<!--              <option [ngValue]="doctor.id" *ngFor="let doctor of doctors">{{doctor.name}}</option>-->
<!--            </select>-->
<!--            <div class="validate"></div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="form-group mt-3">-->
<!--          <textarea class="form-control" name="message" rows="5" placeholder="Mô tả ngắn gọn về bệnh lý *"></textarea>-->
<!--          <div class="validate"></div>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--          <div class="loading">Đang tải</div>-->
<!--          <div class="error-message"></div>-->
<!--          <div class="sent-message">Yêu cầu lịch khám của quý khách đã được gửi thành công. Cảm ơn quý khách! Hãy chờ tin tức liên-->
<!--            hệ từ chúng tôi.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="text-center">-->
<!--          <button type="submit">Đặt lịch khám</button>-->
<!--        </div>-->
<!--      </form>-->

<!--    </div>-->
<!--  </section>&lt;!&ndash; End Appointment Section &ndash;&gt;-->

  <!-- ======= Khoa Section ======= -->
  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>Chuyên khoa trọng điểm</h2>
        <p>VMT cung cấp một loạt các dịch vụ và chuyên khoa lâm sàng toàn diện, kết hợp chuyên môn y khoa với công
          nghệ tiên tiến để mang lại dịch vụ chăm sóc chất lượng cao nhất cho bệnh nhân.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item text-center">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Khoa tim mạch</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Khoa thần kinh</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Khoa nội tiêu hóa</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Khoa nhi</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Khoa mắt</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Khoa tim mạch</h3>
                  <p class="fst-italic">Khoa tim mạch tại VMT Healthy Care Systems là một trong những khoa chuyên môn
                    hàng đầu, với đội ngũ y bác sĩ giàu kinh nghiệm và trình độ chuyên môn cao. Khoa có các thiết bị
                    chẩn đoán và điều trị hiện đại như máy siêu âm Doppler, máy ECG và phòng khám điều trị nội soi tim
                    mạch.</p>
                  <p>Tại đây, khách hàng có thể được khám sàng lọc và chẩn đoán các bệnh lý tim mạch, như bệnh mạch
                    vành, rối loạn nhịp tim, suy tim... Với phương châm chữa bệnh tận tâm, kết hợp với chăm sóc, tư vấn
                    và theo dõi chặt chẽ, Khoa tim mạch tại VMT đem lại cho khách hàng sự yên tâm và tin tưởng trong quá
                    trình điều trị bệnh tim mạch.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../assets/img/departments-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Khoa thần kinh</h3>
                  <p class="fst-italic">
                    Khoa thần kinh tại VMT Healthy Care Systems là một trong những khoa chuyên môn được trang bị đầy đủ
                    các thiết bị chẩn đoán và điều trị hiện đại nhất.
                  </p>
                  <p>Với đội ngũ y bác sĩ chuyên môn giàu kinh nghiệm, tận tâm và chu đáo, Khoa thần kinh có thể chẩn
                    đoán và điều trị các bệnh lý liên quan đến thần kinh như thoái hóa cột sống, đau thần kinh tọa, đau
                    nửa đầu, đau dây thần kinh cổ, các rối loạn giấc ngủ... Tại đây, khách hàng được đón tiếp và tư vấn
                    một cách tận tình, nhận được sự theo dõi chặt chẽ và điều trị đúng phương pháp. Với mục tiêu mang
                    lại cho khách hàng sự thoải mái và giảm đau, Khoa thần kinh tại VMT là địa chỉ tin cậy cho sức khỏe
                    của bạn.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../assets/img/departments-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Khoa nội tiêu hóa</h3>
                  <p class="fst-italic">Khoa nội tiêu hóa tại VMT Healthy Care Systems là một trong những khoa chuyên
                    môn hàng đầu, với đội ngũ y bác sĩ chuyên môn giàu kinh nghiệm và tay nghề cao. Khoa nội tiêu hóa
                    được trang bị đầy đủ các thiết bị chẩn đoán và điều trị hiện đại như máy siêu âm, máy chụp cắt lớp
                    vi tính, phòng khám nội soi tiêu hóa. </p>
                  <p>Tại đây, khách hàng có thể khám và chẩn đoán các bệnh lý về đường tiêu hóa, gan mật và tụy, như
                    bệnh viêm loét dạ dày tá tràng, ung thư đại tràng, viêm gan, xơ gan... Với phương châm chữa bệnh tận
                    tâm, kết hợp với chăm sóc, tư vấn và theo dõi chặt chẽ, Khoa nội tiêu hóa tại VMT sẽ giúp khách hàng
                    tìm ra phương pháp chữa trị tốt nhất cho sức khỏe của mình.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../assets/img/departments-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Khoa nhi</h3>
                  <p class="fst-italic">Khoa nhi tại VMT Healthy Care Systems là một trong những khoa chuyên môn được
                    trang bị đầy đủ các thiết bị y tế và tay nghề chuyên môn cao. Với đội ngũ y bác sĩ giàu kinh nghiệm,
                    chăm sóc tận tình và chu đáo, Khoa nhi tại VMT đảm bảo sự an toàn và tin tưởng cho trẻ em và gia
                    đình trong quá trình khám và điều trị.</p>
                  <p>Khoa nhi tại VMT cung cấp dịch vụ khám và chăm sóc sức khỏe cho trẻ từ sơ sinh đến 18 tuổi, bao gồm
                    khám sàng lọc, tiêm chủng, chẩn đoán và điều trị các bệnh lý thông thường của trẻ như cảm cúm, viêm
                    họng, sốt xuất huyết... Ngoài ra, Khoa nhi còn cung cấp các dịch vụ khám và điều trị cho các bệnh lý
                    đặc biệt của trẻ như dị tật tim bẩm sinh, bệnh hen suyễn, bệnh tiểu đường ở trẻ em... Khoa nhi tại
                    VMT cam kết mang lại cho trẻ em và gia đình sự thoải mái và an toàn tuyệt đối.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../assets/img/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Khoa mắt</h3>
                  <p class="fst-italic">Khoa mắt tại VMT Healthy Care Systems được trang bị đầy đủ các thiết bị chẩn
                    đoán và điều trị hiện đại, với đội ngũ bác sĩ chuyên khoa mắt giàu kinh nghiệm và tay nghề cao. </p>
                  <p>Khoa mắt tại VMT cung cấp các dịch vụ khám, chẩn đoán và điều trị cho các bệnh lý liên quan đến mắt
                    như cận thị, viễn thị, đục thủy tinh thể, loạn thị, bệnh lý lồi mắt và nhiều bệnh lý khác. Khoa còn
                    cung cấp dịch vụ phẫu thuật mắt với nhiều phương pháp mới như phẫu thuật LASIK, phẫu thuật nội soi
                    mắt... Bên cạnh đó, khoa mắt tại VMT còn tư vấn và giải đáp mọi thắc mắc liên quan đến sức khỏe mắt
                    để người bệnh có thể hiểu rõ hơn về bệnh lý và phương pháp điều trị. Với cam kết mang lại cho khách
                    hàng chất lượng dịch vụ tốt nhất, Khoa mắt tại VMT là địa chỉ tin cậy cho sức khỏe mắt của bạn.


                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../assets/img/departments-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

  <!-- ======= Bác sĩ Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Bác sĩ</h2>
        <p>Bác sĩ tại VMT Healthy Care Systems là những chuyên gia y tế được đào tạo chuyên sâu với trình độ học vấn,
          tay nghề và kinh nghiệm rất cao. Họ đều có bằng cấp và chứng chỉ chuyên môn từ các trường đại học, viện nghiên
          cứu uy tín trong và ngoài nước. Bên cạnh kiến thức chuyên môn, các bác sĩ tại VMT còn có kỹ năng giao tiếp và
          tư vấn rất tốt để hiểu rõ nhu cầu và mong muốn của khách hàng. Với tầm nhìn và sứ mệnh làm việc trong lĩnh vực
          y tế, các bác sĩ tại VMT cam kết mang lại sự an toàn và tin tưởng cho khách hàng, đồng thời luôn cập nhật kiến
          thức mới nhất và ứng dụng công nghệ hiện đại để cải thiện chất lượng dịch vụ và đạt được kết quả tốt nhất cho
          khách hàng.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Medical Officer</span>
              <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
              <div class="social">
                <a class="text-decoration-none" href=""><i class="ri-twitter-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-facebook-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-instagram-fill"></i></a>
                <a class="text-decoration-none" href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Anesthesiologist</span>
              <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
              <div class="social">
                <a class="text-decoration-none" href=""><i class="ri-twitter-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-facebook-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-instagram-fill"></i></a>
                <a class="text-decoration-none" href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>Cardiology</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
              <div class="social">
                <a class="text-decoration-none" href=""><i class="ri-twitter-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-facebook-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-instagram-fill"></i></a>
                <a class="text-decoration-none" href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Neurosurgeon</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
              <div class="social">
                <a class="text-decoration-none" href=""><i class="ri-twitter-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-facebook-fill"></i></a>
                <a class="text-decoration-none" href=""><i class="ri-instagram-fill"></i></a>
                <a class="text-decoration-none" href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Doctors Section -->

  <!-- ======= Các câu hỏi thường gặp Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Các câu hỏi thường gặp</h2>
        <p>Các câu hỏi thường gặp tại VMT Healthy Care Systems liên quan đến các dịch vụ y tế, phương pháp chẩn đoán và
          điều trị bệnh, chi phí và thời gian điều trị, thông tin về các bác sĩ và chuyên khoa, hướng dẫn chuẩn bị trước
          khi khám và phẫu thuật, quy trình tái khám và điều trị tiếp theo. VMT cung cấp đầy đủ thông tin và tư vấn cho
          khách hàng về các thắc mắc và câu hỏi phổ biến, đồng thời giải đáp chi tiết và nhanh chóng để khách hàng yên
          tâm và tin tưởng khi sử dụng dịch vụ y tế của VMT. Nếu bạn có bất kỳ câu hỏi nào, hãy liên hệ ngay với chúng
          tôi để được tư vấn và giải đáp.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse text-decoration-none"
                                                           data-bs-target="#faq-list-1">Tôi có thể đăng ký khám bệnh tại
            VMT như thế nào? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Bạn có thể đăng ký khám bệnh tại VMT qua các kênh đăng ký trực tuyến, hotline hoặc đến trực tiếp trung
                tâm khám và đăng ký.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
                                                           class="collapsed text-decoration-none">Tôi cần chuẩn bị gì trước khi khám bệnh tại
            VMT?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Khách hàng cần chuẩn bị các giấy tờ liên quan đến sức khỏe, thẻ bảo hiểm y tế, danh sách thuốc đang sử
                dụng, và không ăn uống quá no hoặc uống nhiều nước trước khi khám.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
                                                           class="collapsed text-decoration-none">VMT có hỗ trợ tư vấn trực tuyến không?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                VMT có hỗ trợ tư vấn trực tuyến qua các kênh liên lạc như chat trực tuyến, email hoặc Zalo để giúp khách
                hàng giải đáp các thắc mắc về dịch vụ y tế.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
                                                           class="collapsed text-decoration-none">VMT có hỗ trợ lấy lịch khám bệnh trực tuyến
            không?
            <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Có, VMT có hỗ trợ lấy lịch khám bệnh trực tuyến qua trang web hoặc ứng dụng di động.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
                                                           class="collapsed text-decoration-none">VMT có cung cấp dịch vụ khám và điều trị
            tại nhà không? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Có, VMT có cung cấp dịch vụ khám và điều trị tại nhà cho những trường hợp cần thiết hoặc có nhu cầu đặc
                biệt của khách hàng.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Phòng trưng bày trang thiết bị y tế Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container">

      <div class="section-title">
        <h2>Sơ lược trang thiết bị y tế</h2>
        <p>VMT sử dụng các trang thiết bị y tế hiện đại để hỗ trợ các chuyên khoa khám và điều trị bệnh cho khách hàng.
          Các thiết bị này bao gồm máy chụp CT, máy siêu âm, máy xét nghiệm, máy đo huyết áp, máy đo đường huyết, máy đo
          nhịp tim, máy thở oxy, máy trợ tim, máy tạo nhịp tim, v.v. Với sự hỗ trợ của những trang thiết bị y tế này,
          VMT có thể cung cấp các dịch vụ khám và điều trị bệnh chất lượng cao và chính xác, đảm bảo tối đa quyền lợi và
          sức khỏe của khách hàng.</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="../assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
              <img src="../assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Liên hệ Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Liên hệ</h2>
        <p>Nếu bạn muốn liên hệ với VMT, bạn có thể sử dụng các thông tin liên lạc sau đây:</p>
      </div>
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.792727136957!2d108.21283147500485!3d16.076242184604286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142183818c92351%3A0x9f07baa05f2640a0!2zMjkwIMSQ4buRbmcgxJBhLCBUaGFuaCBCw6xuaCwgSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1682391045628!5m2!1svi!2s" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Địa chỉ:</h4>
              <p>290 Đống Đa, Thanh Bình, Hải Châu, Đà Nẵng</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>vmt95healthy@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Hotline:</h4>
              <p>+84 777 888 999</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Họ và tên *" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Vấn đề *" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mô tả ngắn gọn vấn đề *" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Đang tải</div>
              <div class="error-message"></div>
              <div class="sent-message">Tin nhắn của quý khách đã được gửi đi. Cảm ơn quý khách!</div>
            </div>
            <div class="text-center">
              <button type="submit">Gửi tin nhắn</button>
            </div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
